---
import Layout from '../layouts/Layout.astro'
---

<Layout title="OOO">
    <header class="mb-8">
        <h1 class="text-3xl font-bold md:text-6xl">O variants</h1>
    </header>
    <main class="mb-8">
        <p class="text-lg">Toto je hlavní obsah stránky.</p>
    </main>
</Layout>
